* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  border-radius: 50%;
  margin: 30px;
}

.text-container {
  color: white;
  background-color: DarkGrey;
  border-radius: 40px;
  padding: 40px;
  text-align: center;

}

h1, h2 {
  margin: 20px;
}

h4 {
  padding-bottom: 30px;
}

.heart {
    margin: auto;
    background-color: pink;
    height: 50px;
    width: 50px;
    transform: rotate(-45deg);
  }
  .heart::after{
    background-color: pink;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 25px;
  }
  .heart::before{
    content: "";
    background-color: pink;
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    left: 0px;
  }

  .heart:hover {
    background-color: yellow;
    background: yellow;
  }
  .heart::after:hover {
    background-color: yellow;
    background: yellow;
  }
  .heart:before:hover {
    background-color: yellow;
    background: yellow;

  }
